body {
  box-sizing: border-box;
  background: linear-gradient(45deg, #e4e5ea, #8689ac);
  color: #0c151c;
  font-family: "Noto Sans", sans-serif;
}

.big-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.container {
  text-align: center;
  margin-top: 4rem;
}

.heading {
  display: block;
  font-size: 5rem;
}

.btn {
  width: 7rem;
  height: 2rem;
  background: #d2d2d4;
  border-radius: 0.5rem;
  margin: 3rem auto;
  opacity: 0;
  -webkit-animation: 4s linear 9s opacity;
  animation-fill-mode: forwards;
  transition: all 0.5s linear;
}

@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.btn:hover {
  background-color: #16354d;
  color: #e4e5ea;
  border-color: #0c151c;
}

.container .letter {
  text-shadow: 4px 4px 5px #16354d;
  display: inline-block;
}

.container .letter:nth-of-type(5).animated {
  position: relative;
  right: -50rem;
  -webkit-animation: 1s linear 7s slide-right;
  animation-fill-mode: forwards;
}

@-webkit-keyframes slide-right {
  from {
    right: -50rem;
  }
  50% {
    right: 2rem;
  }
  to {
    right: 0;
  }
}

.container .letter:nth-of-type(4).animated {
  position: relative;
  top: -30rem;
  transform: rotate(-40deg);
  -webkit-animation: 2s linear 5s slide-top;
  animation-fill-mode: forwards;
}

@-webkit-keyframes slide-top {
  from {
    top: -30rem;
    transform: rotate(-40deg);
  }
  40% {
    top: 2rem;
    transform: rotate(-10deg);
  }
  70% {
    top: -2rem;
    transform: rotate(10deg);
  }
  to {
    top: 0;
    transform: rotate(0);
  }
}

.container .letter:nth-of-type(3).animated {
  position: relative;
  bottom: -30rem;
  -webkit-animation: 2s linear 3s slide-bottom;
  animation-fill-mode: forwards;
}

@-webkit-keyframes slide-bottom {
  from {
    bottom: -30rem;
  }
  40% {
    bottom: 2rem;
  }
  70% {
    bottom: -2rem;
  }
  to {
    bottom: 0;
  }
}
.container .letter:nth-of-type(2).animated {
  position: relative;
  top: -30rem;
  transform: rotate(50deg);
  -webkit-animation: 1s linear 2s slide-rotate;
  animation-fill-mode: forwards;
}

@-webkit-keyframes slide-rotate {
  from {
    top: -30rem;
    transform: rotate(50deg);
  }
  to {
    top: 0;
    transform: rotate(0);
  }
}

.container .letter:nth-of-type(1).animated {
  position: relative;
  left: -50rem;
  -webkit-animation: 2s linear slide-left;
  animation-fill-mode: forwards;
}

@-webkit-keyframes slide-left {
  from {
    left: -50rem;
  }
  80% {
    left: -10rem;
    transform: scale(1.5);
  }
  90% {
    left: 3rem;
    transform: scale(1);
  }
  to {
    left: 0;
  }
}

.dark-mode {
  background: linear-gradient(45deg, #0c151c, #16354d);
  color: #6b99c3;
}

.dark-btn {
  background-color: #0c151c;
  color: #e4e5ea;
  border-color: #e4e5ea;
  opacity: 1;
}

.dark-btn:hover {
  background-color: #16354d;
  color: #e4e5ea;
  border-color: #e4e5ea;
}

.big-container .container .letter.dark-letter {
  -webkit-animation: 2s linear infinite text-shadow;
}

.letter.dark-letter:nth-of-type(1) {
  position: relative;
  left: 0;
}

.letter.dark-letter:nth-of-type(2) {
  position: relative;
  top: 0;
  transform: rotate(0);
}

.letter.dark-letter:nth-of-type(3) {
  position: relative;
  bottom: 0;
}

.letter.dark-letter:nth-of-type(4) {
  position: relative;
  top: 0;
  transform: rotate(0);
}

.letter.dark-letter:nth-of-type(5) {
  position: relative;
  right: 0;
}

@-webkit-keyframes text-shadow {
  from {
    text-shadow: 4px 4px 5px #16354d;
  }
  50% {
    text-shadow: 0px 0px 20px #d2d2d4;
  }
  to {
    text-shadow: 4px 4px 5px #16354d;
  }
}
